.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  box-shadow: inset 0 1px 8px -3px #ababab;
  background: #fefefe;
  margin: 20px auto;
  min-height: 140px;
  max-width: 1200px;
  text-align: start;
}
